@{
    Layout = "~/Views/Shared/_Secured.cshtml";
}

<style>
    .k-grid { width:400px; }
    input[type='text'], input[type='password'] { width:200px; }
    .form-label { width:120px; }
    .k-pager-wrap { text-align:right; padding-right:30px; }
    tr { height:30px; }
</style>

    <form id="frmUser">
        <div>
            <table cellspacing="0">
                <tbody>
                    <tr>
                        <td class="form-label">Old Password:</td>
                        <td><input type="password" id="txtOldPassword" name="oldpassword" maxlength="100" /></td>
                    </tr>
                    <tr>
                        <td class="form-label">New Password:</td>
                        <td><input type="password" id="txtPassword" name="password" maxlength="100" /></td>
                    </tr>
                    <tr>
                        <td class="form-label">Confirm Password:</td>
                        <td><input type="password" id="txtPassword2" maxlength="100" /></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div style="text-align:left; padding:20px 0 0 0;">
            <input type="button" id="btnSave" value="Change Password" class="k-button" />
        </div>
    </form>

<script type="text/javascript">
    var mode = '@ViewBag.Mode';

    $(function () {
        if (mode == 'EDIT')
            FillupForm();

        $('#btnSave').click(function () {
            if ($('#txtPassword').val() != $('#txtPassword2').val()) {
                jAlertBox("Passwords are not matched.", "Data Error");
                return false;
            }

            var loader = parent.$("body").loading({ settings: { text: 'Updating password..' } });
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Ajax_ChangePassword", "User")',
                data: $('#frmUser').serialize(),
                success: function (result) {
                    jsonText = JSON.stringify(result);
                    data = JSON.parse(jsonText);
                    if (data.Errors == null) {
                        loader.hideLoading();
                        jAlertBox('Your password has been updated.', "Saved", function () {
                            window.location = '@Url.Action("Index", "Home")';
                        });
                    }
                    else {
                        loader.hideLoading();
                        jAlertBox(data.Errors.data_error.errors[0], "Error");
                    }
                }
            });
        });
    });

</script>